# The maximum concurrency for all datacity workflows
# this is important because all workflows run on the dgp server
concurrency: 4

secrets:
  - name: cco-service-account-key
    data:
      "service_account_key.json": "~vault:Projects/datacity/ckan-cloud-operator:service_account_key.json~"


genericFetcherInstanceOrganizationWorkflows:
  rehovot:
    muni:
      - name_suffix: rehovot-welfare-frames
        schedule: "4 6 1 * *"  # python3 workflows/bin/get_schedule.py monthly
        source_url: https://data.gov.il/dataset/welfare-frames
        target_package_id: welfare-frames
        source_filter:
          City_Name: רחובות
        post_processing:
          - type: keep-last-updated-per-year
            month: 10  # keep the last updated file for each year on 1st of this month (must be between 1-11 inclusive, 12 is not supported)
            format: csv
            resource_name: מסגרות רווחה


  haifa:
    israel-gov:
      - name_suffix: haifa-automated-devices
        schedule: "54 1 1 * *"  # python3 workflows/bin/get_schedule.py monthly
        source_url: https://data.gov.il/dataset/automated-devices
        target_package_id: automated-devices
        source_filter:
          City: חיפה
      - name_suffix: haifa-branches
        schedule: "21 22 1 * *"  # python3 workflows/bin/get_schedule.py monthly
        source_url: https://data.gov.il/dataset/branches
        target_package_id: branches
        source_filter:
          City: חיפה
      - name_suffix: haifa-antenna-hakama
        schedule: "33 16 1 * *"  # python3 workflows/bin/get_schedule.py monthly
        source_url: https://data.gov.il/dataset/antenna_hakama
        target_package_id: antenna_hakama
        source_filter:
          "ישוב": חיפה
      - name_suffix: haifa-antennaactive
        schedule: "51 11 1 * *"  # python3 workflows/bin/get_schedule.py monthly
        source_url: https://data.gov.il/dataset/antennaactive
        target_package_id: antennaactive
        source_filter:
          "עיר": חיפה
      - name_suffix: haifa-buildingsites
        schedule: "30 6 * * *"  # python3 workflows/bin/get_schedule.py daily
        source_url: https://data.gov.il/dataset/buildingsites
        target_package_id: buildingsites
        source_filter:
          "city_name": חיפה
      - name_suffix: haifa-moj-amutot
        schedule: "55 11 * * 1"  # python3 workflows/bin/get_schedule.py weekly
        source_url: https://data.gov.il/dataset/moj-amutot
        target_package_id: moj-amutot
        source_filter:
          "כתובת - ישוב": חיפה
      - name_suffix: haifa-defi
        schedule: "47 20 1 * *"  # python3 workflows/bin/get_schedule.py monthly
        source_url: https://data.gov.il/dataset/defi
        target_package_id: defi
        source_filter:
          indexCity: חיפה
      - name_suffix: haifa-israel-streets-synom
        schedule: "59 14 * * 1"  # python3 workflows/bin/get_schedule.py weekly
        source_url: https://data.gov.il/dataset/israel-streets-synom
        target_package_id: israel-streets-synom
        source_filter:
          "city_name": חיפה
      - name_suffix: haifa-fuelstationbynumber
        schedule: "10 1 1 * *"  # python3 workflows/bin/get_schedule.py monthly
        source_url: https://data.gov.il/dataset/fuelstationbynumber
        target_package_id: fuelstationbynumber
        source_filter:
          City: חיפה
      - name_suffix: haifa-ridership
        schedule: "28 19 1 * *"  # python3 workflows/bin/get_schedule.py monthly
        source_url: https://data.gov.il/dataset/ridership
        target_package_id: ridership
        source_filter:
          Metropolin: מטרופולין חיפה
      - name_suffix: haifa-accidents-municipal
        schedule: "33 10 1 * *"  # python3 workflows/bin/get_schedule.py monthly
        source_url: https://data.gov.il/dataset/accidents_municipal
        target_package_id: accidents_municipal
        source_filter:
          CITY: חיפה
      - name_suffix: haifa-protectedhouseslist
        schedule: "46 3 1 * *"  # python3 workflows/bin/get_schedule.py monthly
        source_url: https://data.gov.il/dataset/protectedhouseslist
        target_package_id: protectedhouseslist
        source_filter:
          settlement: חיפה
      - name_suffix: haifa-hostelsgis
        schedule: "4 18 1 * *"  # python3 workflows/bin/get_schedule.py monthly
        source_url: https://data.gov.il/dataset/hostelsgis
        target_package_id: hostelsgis
        source_filter:
          CityName: חיפה
      - name_suffix: haifa-molsa-outerhomes-elderly
        schedule: "21 20 1 * *"  # python3 workflows/bin/get_schedule.py monthly
        source_url: https://data.gov.il/dataset/molsa-outerhomes-elderly
        target_package_id: molsa-outerhomes-elderly
        source_filter:
          locality: חיפה
      - name_suffix: haifa-bus-stops
        schedule: "45 7 1 * *"  # python3 workflows/bin/get_schedule.py monthly
        source_url: https://data.gov.il/dataset/bus_stops
        target_package_id: bus-stops
        source_filter:
          MetropolinName: חיפה

continuousProcessingTasks:
  - xlsx
  - geojson

continuousProcessingTasksInstanceWorkflows:
  haifa: {}
  jaljulia: {}
  jerusalem: {}
  maale-adummim: {}
  netanya: {}
  rishonlezion: {}
  kfar-saba: {}
  test: {}
  rehovot: {}

gisFetcherInstanceOrganizationWorkflows:
  haifa:
    muni:
      - name_suffix: haifa-yeudei-karka
        gis_url: https://gisserver.haifa.muni.il/arcgiswebadaptor/rest/services/PublicSite/Haifa_Eng_Public/MapServer/13
        target_package_id: yeudei_karka
        schedule: "49 23 * * *"  # python3 workflows/bin/get_schedule.py daily
      - name_suffix: haifa-migun
        gis_url: https://gisserver.haifa.muni.il/arcgiswebadaptor/rest/services/PublicSite/Haifa_Other_Public/MapServer/1
        target_package_id: migun
        schedule: "10 7 * * *"  # python3 workflows/bin/get_schedule.py daily
      - name_suffix: haifa-recycle-bins
        gis_url: https://gisserver.haifa.muni.il/arcgiswebadaptor/rest/services/PublicSite/Haifa_Env_Public/MapServer/0
        target_package_id: recycle_bins
        schedule: "31 2 * * *"  # python3 workflows/bin/get_schedule.py daily
      - name_suffix: haifa-public-gardens
        gis_url: https://gisserver.haifa.muni.il/arcgiswebadaptor/rest/services/PublicSite/Haifa_Env_Public/MapServer/1
        target_package_id: public_gardens
        schedule: "53 16 * * *"  # python3 workflows/bin/get_schedule.py daily
      - name_suffix: haifa-cameras
        gis_url: https://gisserver.haifa.muni.il/arcgiswebadaptor/rest/services/PublicSite/Haifa_Other_Public/MapServer/7
        target_package_id: cameras
        schedule: "11 12 * * *"  # python3 workflows/bin/get_schedule.py daily
      - name_suffix: haifa-traffic-cameras
        gis_url: https://gisserver.haifa.muni.il/arcgiswebadaptor/rest/services/PublicSite/Haifa_Other_Public/MapServer/8
        target_package_id: traffic_cameras
        schedule: "51 0 * * *"  # python3 workflows/bin/get_schedule.py daily
      - name_suffix: haifa-parking-cameras
        gis_url: https://gisserver.haifa.muni.il/arcgiswebadaptor/rest/services/PublicSite/Haifa_Cameras_Public/MapServer/10
        target_package_id: parking_cameras
        schedule: "21 0 * * *"  # python3 workflows/bin/get_schedule.py daily
      - name_suffix: haifa-parking-cameras-20min
        gis_url: https://gisserver.haifa.muni.il/arcgiswebadaptor/rest/services/PublicSite/Haifa_Cameras_Public/MapServer/12
        target_package_id: parking_cameras_20min
        schedule: "25 0 * * *"  # python3 workflows/bin/get_schedule.py daily
      - name_suffix: haifa-atikot
        gis_url: https://gisserver.haifa.muni.il/arcgiswebadaptor/rest/services/PublicSite/Haifa_Shimur_Public/MapServer/15
        target_package_id: atikot
        schedule: "15 15 * * *"  # python3 workflows/bin/get_schedule.py daily
      - name_suffix: haifa-sekreishimurcompleted
        gis_url: https://gisserver.haifa.muni.il/arcgiswebadaptor/rest/services/PublicSite/Haifa_Shimur_Public/MapServer/4
        target_package_id: sekreishimurcompleted
        schedule: "45 15 * * *"  # python3 workflows/bin/get_schedule.py daily
      - name_suffix: haifa-sikreishimurinexecution
        gis_url: https://gisserver.haifa.muni.il/arcgiswebadaptor/rest/services/PublicSite/Haifa_Shimur_Public/MapServer/3
        target_package_id: sikreishimurinexecution
        schedule: "45 16 * * *"  # python3 workflows/bin/get_schedule.py daily
      - name_suffix: haifa-shimurpreservationareas
        gis_url: https://gisserver.haifa.muni.il/arcgiswebadaptor/rest/services/PublicSite/Haifa_Shimur_Public/MapServer/1
        target_package_id: shimurpreservationareas
        schedule: "45 17 * * *"  # python3 workflows/bin/get_schedule.py daily
      - name_suffix: haifa-unesco-declaration-buffer
        gis_url: https://gisserver.haifa.muni.il/arcgiswebadaptor/rest/services/PublicSite/Haifa_Shimur_Public/MapServer/12
        target_package_id: unesco_declaration_buffer
        schedule: "45 19 * * *"  # python3 workflows/bin/get_schedule.py daily
      - name_suffix: haifa-clean-air
        gis_url: https://gisserver.haifa.muni.il/arcgiswebadaptor/rest/services/PublicSite/Haifa_Env_Public/MapServer/7
        target_package_id: clean_air
        schedule: "45 20 * * *"  # python3 workflows/bin/get_schedule.py daily
      - name_suffix: haifa-funicular
        gis_url: https://gisserver.haifa.muni.il/arcgiswebadaptor/rest/services/PublicSite/Haifa_Signs_Public/MapServer/4
        target_package_id: funicular
        schedule: "45 21 * * *"  # python3 workflows/bin/get_schedule.py daily
      - name_suffix: haifa-unesco-declaration
        gis_url: https://gisserver.haifa.muni.il/arcgiswebadaptor/rest/services/PublicSite/Haifa_Shimur_Public/MapServer/11
        target_package_id: unesco_declaration
        schedule: "45 22 * * *"  # python3 workflows/bin/get_schedule.py daily
      - name_suffix: haifa-tat-rova
        gis_url: https://gisserver.haifa.muni.il/arcgiswebadaptor/rest/services/PublicSite/Haifa_Stat_Public/MapServer/4
        target_package_id: tat_rova
        schedule: "45 23 * * *"  # python3 workflows/bin/get_schedule.py daily
      - name_suffix: haifa-streets
        gis_url: https://gisserver.haifa.muni.il/arcgiswebadaptor/rest/services/PublicSite/Haifa_Stat_Public/MapServer/1
        target_package_id: streets
        schedule: "45 1 * * *"  # python3 workflows/bin/get_schedule.py daily
      - name_suffix: haifa-stat-areas
        gis_url: https://gisserver.haifa.muni.il/arcgiswebadaptor/rest/services/PublicSite/Haifa_Stat_Public/MapServer/3
        target_package_id: stat_areas
        schedule: "45 2 * * *"  # python3 workflows/bin/get_schedule.py daily
      - name_suffix: haifa-rova
        gis_url: https://gisserver.haifa.muni.il/arcgiswebadaptor/rest/services/PublicSite/Haifa_Stat_Public/MapServer/5
        target_package_id: rova
        schedule: "45 3 * * *"  # python3 workflows/bin/get_schedule.py daily
      - name_suffix: haifa-neighborhood
        gis_url: https://gisserver.haifa.muni.il/arcgiswebadaptor/rest/services/PublicSite/Haifa_Stat_Public/MapServer/2
        target_package_id: neighborhood
        schedule: "45 4 * * *"  # python3 workflows/bin/get_schedule.py daily
      - name_suffix: haifa-education
        gis_url: https://gisserver.haifa.muni.il/arcgiswebadaptor/rest/services/PublicSite/Haifa_Edu_Public/MapServer/8
        target_package_id: education
        schedule: "45 5 * * *"  # python3 workflows/bin/get_schedule.py daily
      - name_suffix: haifa-blg-shimur
        gis_url: https://gisserver.haifa.muni.il/arcgiswebadaptor/rest/services/PublicSite/Haifa_Shimur_Public/MapServer/0
        target_package_id: blg_shimur
        schedule: "45 6 * * *"  # python3 workflows/bin/get_schedule.py daily
      - name_suffix: haifa-surveymainfeatures
        gis_url: https://gisserver.haifa.muni.il/arcgiswebadaptor/rest/services/PublicSite/Haifa_Env_Public/MapServer/10
        target_package_id: surveymainfeatures
        schedule: "45 7 * * *"  # python3 workflows/bin/get_schedule.py daily
      - name_suffix: haifa-surveysites
        gis_url: https://gisserver.haifa.muni.il/arcgiswebadaptor/rest/services/PublicSite/Haifa_Env_Public/MapServer/13
        target_package_id: surveysites
        schedule: "45 8 * * *"  # python3 workflows/bin/get_schedule.py daily
      - name_suffix: haifa-surveyissues
        gis_url: https://gisserver.haifa.muni.il/arcgiswebadaptor/rest/services/PublicSite/Haifa_Env_Public/MapServer/11
        target_package_id: surveyissues
        schedule: "45 9 * * *"  # python3 workflows/bin/get_schedule.py daily
      - name_suffix: haifa-surveyvegetation
        gis_url: https://gisserver.haifa.muni.il/arcgiswebadaptor/rest/services/PublicSite/Haifa_Env_Public/MapServer/14
        target_package_id: surveyvegetation
        schedule: "45 10 * * *"  # python3 workflows/bin/get_schedule.py daily
      - name_suffix: haifa-surveypublic
        gis_url: https://gisserver.haifa.muni.il/arcgiswebadaptor/rest/services/PublicSite/Haifa_Env_Public/MapServer/12
        target_package_id: surveypublic
        schedule: "45 11 * * *"  # python3 workflows/bin/get_schedule.py daily
